<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leidong.ldplayer">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- 欢迎界面 -->
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- IjkPlayerTest界面 -->
        <activity android:name=".ui.TestIjkPlayerActivity">

        </activity>

        <!-- 主界面 -->
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <!-- 编辑界面 -->
        <activity
            android:name=".ui.EditActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <!-- 分享界面 -->
        <activity
            android:name=".ui.ShareActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <!-- 设置界面 -->
        <activity
            android:name=".ui.SettingsActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <!-- 网络音乐列表界面 -->
        <activity
            android:name=".ui.SubInternetMusicActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <!-- 网络视频列表界面 -->
        <activity
            android:name=".ui.SubInternetVideoActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <!-- 音乐播放界面 -->
        <activity
            android:name=".ui.MusicPlayActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <!-- 视频播放界面 -->
        <activity
            android:name=".ui.VideoPlayActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" />

        <!--频道播放界面-->
        <activity android:name=".ui.ChannelPlayActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleInstance"/>
    </application>

</manifest>